<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autoplay Music</title>
  </head>
  <body>
    <h1>Welcome to Autoplay Music</h1>

    <audio id="audioPlayer" controls autoplay loop>
      <source
        src="{{ url_for('static', filename='music.mp3') }}"
        type="audio/mp3"
      />
      Your browser does not support the audio tag.
    </audio>

    <script>
      // Mengambil nilai volume dari server
      var currentVolume = {{ current_volume }};
      var audioPlayer = document.getElementById('audioPlayer');
      audioPlayer.volume = 0.1;
    </script>
  </body>
</html>
